*{
    margin: 0;    
    font-family: Helvetica;     
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
    font-size: 12px;
    background-color: purple;
    color: white;
}
.logo{
    flex: 1;    
}
.logo img{
    width: 60px;
    height: 40px; 
    border-radius: 5px;   
}
.logo img:hover{
    cursor: pointer;
}
.search{
    flex: 1;
}
.add{
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 1;    
}
.links ul{
    list-style: none;
}
.links ul li{
    display: inline;
    margin-left: 10px;
    padding: 5px;
}
.links ul li:hover{
    cursor: pointer;
    background-color: orange;
    text-decoration: underline;
}
.cart{
    display: flex;
    position: relative;    
}
.cart :hover{
    cursor: pointer;
    border-bottom: 1px solid green;
}
.cart img{
    width: 40px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
}
.cart img:hover{
    cursor: pointer;
}

.cart span{
    position: absolute;
    font-size: 14px;
    text-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
}
   
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    height: 20vh;
    border: 1px solid rgb(179, 170, 170);
    background-color: rgb(59, 54, 54);
   
}   
.top{
    color: white;   
}    
.bottom{
    color: gold;
    font-style: italic;
    margin-top: 20px;            
        
}
.bottom img{
    width: 90px;
    height: 15vh;
    object-fit: cover;
    margin-top: 5px;     
    
}
.bottom img:hover{                    
    transform: scaleX(1.2);
}

.products{
    display: flex;    
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px;
    margin: 30px 60px;
    border: 1px solid rgb(206, 190, 190);
    border-radius: 5px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease; 
    
}
.product :hover{
    cursor: pointer;
    transform: scaleX(1.1);
}
.product img{
    height: 200px;
    width: 200px;
    border-radius: 5px;

}
.product button{
    color: white;
    background-color: orange;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.footerDiv{
    background-color: rgb(24, 21, 21);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: gold;
    
}
.top{
    display: flex;
    color: white;
}
.topLeft{
    flex: 1;
}
.topLeft ul{
    list-style: none;
    margin-left: 20px;
}
.topCenter{
    flex: 1;
}
.topCenter ul{
    list-style: none;
    margin-left: 20px;
}
.topRight{
    flex: 1;
}
.bottom{
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;        
}
.bottom img{
    width: 40px;
    height: 30px; 
    
}
.bottom img:hover{
    transform: scaleX(1.2);
}
.order{
    padding: 20px;
    font-size: 18px;
}
.cartBody{
    display: flex;
    padding: 20px;
    gap: 10px;
}
.cartProduct{
    display: flex;
    flex-direction: column;
    flex: 2; 
    gap: 10px; 
}   
.left{
    border: 1px solid rgb(204, 197, 197);
    border-radius: 5px;
    padding: 20px;
    display: flex;
}
.item{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.productDetails{
    display: flex;
}
.cartImage{
    padding: 10px;
}
.cartImage img{
    height: 70%;
    width: 80%
}
.specifics{
    margin-top: 10px;
}     
.delivery{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.deliveryDate{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}                     
.right{
    flex: 1;
    border: 1px solid rgb(204, 197, 197);
    border-radius: 5px;
    padding: 20px;
}
